@charset "utf-8";
@media screen and (max-width: 1440px) {
    html {
        font-size: 14px;
    }

    .browser-container .imgdummy {
        width: 80%;
    }
}
@media screen and (max-width: 1024px) {
    html {
        font-size: 12px;
    }

    .browser-container .imgdummy {
        width: 90%;
    }
}
@media screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }

    .browser-container .imgdummy {
        width: 95%;
        justify-content: center;
        gap: 2rem;
    }

    .browser-container .imgdummy .item {
        width: 30%;
    }
}
@media screen and (max-width: 480px) {
    .hyeongflex-container,
    .browser-container {
        height: auto;
        min-height: 100vh;
    }

    .browser-container .imgdummy {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        padding: 10rem 0 5rem 0;
    }
    .browser-container .imgdummy .nugu {
        font-size: 3.5rem;
        margin-bottom: 2rem;
    }
    .browser-container .imgdummy .item {
        width: 60%;
    }
    .browser-container .imgdummy .item a img {
        width: 18rem !important;
        height: 18rem !important;
    }
}